.ticks{
  color: rgb(45, 56, 9);
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold; 
}

.parent-container {
 display: flex;
 flex-direction: column;
 gap: 20px;
 width: 300px;
 margin-top: 50px;
 margin-left: 50px;
 overflow: hidden;
}



label {
  color:  rgb(45, 56, 9);
  font-size: 18px;
  font-weight: bold;
  text-align:left;
  margin-bottom: 8px;
  display: block;

  
}

.name, .lastName, .age {
  width: 55%;
  height: 50px;
  margin-bottom: 5px;
  margin-left: 0;
  display: block;
  border-radius: 5px;
  
}

.register-btn {
  width: 120px;
  height: 40px;
  background-color: rgb(54, 130, 81);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 55px;
  float: left;
  margin-left: 50px;  

}

.clear-btn{
  width: 120px;
  height: 40px;
  background-color: rgb(212, 58, 58);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 55px;
  float: left;
  margin-left: 50px;  
}

.Students-table, .Teachers-table {
  width: 80%;
  margin-top: 75px;
  margin-left: 50px;
  border-collapse: collapse;
  color: rgb(45, 56, 9);
  
}



.menu-btns {
  display: flex;
  gap: 15px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
  justify-content: center;
}   

.menu-btns button {
  width: 120px;
  height: 40px;
  background-color: rgb(74, 129, 55);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* CSS Selectors */
// class selector -> .
// id selector -> #
// tag selector -> tag name -> div, button

// pseudo selector -> :hover :active :disabled
// 

.menu-btns button:hover {
  background-color: rgb(112, 170, 93);
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.menu-btns button.active {
  background-color: rgb(48, 80, 36);
}
